<!DOCTYPE html>
<html>
<head>
    <title>API Endpoints</title>
</head>
<body>
    <h1>API Endpoints</h1>
    <ul>
        <li>
            <h2>/process_json_mle</h2>
            <p>Description of the /process_json_mle (Maximum Likelihood Estimation) endpoint.</p>
            <h3>Parameters:</h3>
            <ul>
                <li>
                    <strong>param1:</strong> Description of param1.
                </li>
                <li>
                    <strong>param2:</strong> Description of param2.
                </li>
                <!-- Add more parameters here -->
            </ul>
        </li>            
            <h2>/process_json_decim</h2>
            <p>Description of the /process_json_decim (Decimated tested and reference time-series) endpoint.</p>
            <h3>Parameters:</h3>
            <ul>
                <li>
                    <strong>mode:</strong> Server mode: 'link' or 'data'.
                </li>
                <li>
                    <strong>test_file_name:</strong> If server works in 'link' mode we use link to local file.
                </li>
                <li>
                    <strong>data:</strong> If server works in 'data' mode we read json file on client's side and send it as a paramiter.
                </li>
            <!-- Add more parameters here -->
        </ul>
        <!-- Add more endpoints here -->
    </ul>
</body>
</html>